.employee-details-container {
  padding: 30px;
}

.employee-details-header {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 30px;
  text-align: center;
  align-self: center;
}

.employee-details-status {
  font-size: 16px;
  padding-left: 10px;
}

.employee-details-title {
  display: inline;
}

.employee-details-user-data {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
